:root {
    /*========== Colores ==========*/
    --title-color: #044040;
    --first-color: #044040;
    --first-color-rgba: rgba(4, 64, 64, 0.5);
    --first-color-alt: #F2A71B;
    --title-color-2: #022626;
    --text-color: #000000;
    --text-color-light: #808080;
    --body-color: #F2F2F2;
    --container-color: #FFFFFF;
    --text-color-button: #FFFFFF;
    --menu-cards: #C2B280;
    --input-login: #e7e5e5;
    
    /*========== Fuente y tipografía ==========*/
    --body-font: 'Poppins', sans-serif;
    --biggest-font-size: 2.25rem;
    --h1-font-size: 1.5rem;
    --h2-font-size: 1.25rem;
    --h3-font-size: 1rem;
    --normal-font-size: .938rem;
    --small-font-size: .813rem;
    --smaller-font-size: .75rem;  
  
    /*========== Peso de la fuente ==========*/
    --font-regular: 400;
    --font-medium: 500;
    --font-semi-bold: 600;
  
    /*========== z index ==========*/
    --z-tooltip: 10;
    --z-fixed: 100;
  }