<div class="gallery">
    <div class="menu">
        <div class="menu-box">
            <div class="image" data-name="platos">
                <div class="menu-card" data-name="platos"><!--tajeta del menu-->
                    <img src="images/platos/tartar-atun.jpg" alt="">
                    <h3 class="menu__name">Tartar De Atún</h3>
                    <span class="menu__detail">Plato delicioso</span>
                    <span class="menu__preci">$35.000</span>
                </div>
            </div>
            <div class="image" data-name="platos">
                <div class="menu-card" data-name="platos"><!--tajeta del menu-->
                    <img src="images/platos/COSTILLAS SAINT LOUIS.jpg" alt="">
                    <h3 class="menu__name">Lomo Fino - Tierra Andina</h3>
                    <span class="menu__detail">Plato delicioso</span>
                    <span class="menu__preci">$22.00</span>

                </div>
            </div>
            <div class="image" data-name="cocteleria">
                <div class="menu-card" data-name="platos"><!--tajeta del menu-->
                    <img src="images/cocteles/dulce-misak.jpg" alt="">
                    <h3 class="menu__name">Dulce misak</h3>
                    <span class="menu__detail">Mezcla de ginebra, licor 43, limonchelo artesanal,
                        tropical
                        piña con frutos rojos finalizado con nube de vino.</span>
                    <span class="menu__preci">$55.000</span>
                </div>
            </div>
            <div class="image" data-name="postres">
                <div class="menu-card" data-name="platos"><!--tajeta del menu-->
                    <img src="images/postres/torata-chocolate.jpg" alt="">
                    <h3 class="menu__name">Torta De Chocolate</h3>
                    <span class="menu__detail">descripcion</span>
                    <span class="menu__preci">$15.000</span>
                </div>
            </div>
            <div class="image" data-name="bebida">
                <div class="menu-card" data-name="platos"><!--tajeta del menu-->
                    <img src="images/bebidas/Limonada-cerezada.jpeg" alt="">
                    <h3 class="menu__name">Limonada cerezada</h3>
                    <span class="menu__detail"></span>
                    <span class="menu__preci">$11.900</span>
                </div>
            </div>
            <div class="image" data-name="bebida">
                <div class="menu-card" data-name="platos"><!--tajeta del menu-->
                    <img src="images/bebidas/limonada-de-coco.jpg" alt="">
                    <h3 class="menu__name">Dulce misak</h3>
                    <span class="menu__detail"></span>
                    <span class="menu__preci">$15.000</span>
                </div>
            </div>
        </div>
    </div>
</div>