<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!--========== BOX ICONS ==========-->
    <link href='https://cdn.jsdelivr.net/npm/boxicons@2.0.5/css/boxicons.min.css' rel='stylesheet'>
    <!--========== icons styles ==========-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css"
        integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />

    <!--========== CSS ==========-->
    <!-- <link rel="stylesheet" href="styles/index.css"> -->
    <link rel="stylesheet" href="/styles/contactos/contactos.css">
    <link rel="stylesheet" href="/styles/index.css">

    <title>Restaurante</title>
</head>

<body>
    <!--========== SCROLL TOP ==========-->
    <a href="#" class="scrolltop" id="scroll-top">
        <i class='bx bx-chevron-up scrolltop__icon'></i>
    </a>

    <main class="l-main">
        <!--========== Elementos seccion 4 ==========-->
        <section class="contact section bd-container" id="contact">
            <div class="contact__container bd-grid">
                <div class="contact__data">
                    <span class="section-subtitle contact__initial">Novedades</span>
                    <h2 class="section-title contact__initial">Suscríbete para recibir ofertas actualizadas</h2>
                    <p class="contact__description">Vive la experiencia completa: ofertas exclusivas al suscribirte y
                        reserva de mesa fácil y rápida con nuestro.</p>
                </div>

                <div class="contact__button">
                    <a href="/sign-up" class="button">Registrate <i class="fa-solid fa-arrow-right"></i></a>
                </div>
            </div>
        </section>
    </main>
</body>

</html>