<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!--========== BOX ICONS ==========-->
    <link href='https://cdn.jsdelivr.net/npm/boxicons@2.0.5/css/boxicons.min.css' rel='stylesheet'>
    <!--========== icons styles ==========-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css"
        integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />

    <!--========== CSS ==========-->
    <link rel="stylesheet" href="../../../public/styles/index.css">
    <link rel="stylesheet" href="styles/partials/footer.css">

    <title>Restaurante</title>
</head>

<body>
    <div class="footer-line"></div>
    <!--========== FOOTER ==========-->
    <footer class="footer section bd-container">
        <div class="footer__container bd-grid">
            <div class="footer__content">
                <h3 id="logo_res">LUSAIL ROYAL</h3>
                <span class="footer__description">Restaurante</span>
                <div>
                    <a href="#" class="footer__social"><i class="fa-brands fa-facebook"></i></i></a>
                    <a href="https://www.instagram.com/david_solis.01?igsh=ODN3MGtqd3RodzMw" class="footer__social"><i
                            class="fa-brands fa-instagram"></i></i></a>
                    <a href="#" class="footer__social"><i class="fa-brands fa-x-twitter"></i></a>
                </div>
            </div>

            <div class="footer__content">
                <h3 class="footer__title">Servicios</h3>
                <ul>
                    <li><a href="menu.html" class="footer__link">Precios</a></li>
                    <li><a href="reserve.html" class="footer__link">Reservacion</a></li>
                </ul>
            </div>

            <div class="footer__content">
                <h3 class="footer__title">Informacion</h3>
                <ul>
                    <li><a href="#" class="footer__link">Contactos</a></li>
                    <li><a href="#" class="footer__link">Politicas y Privacidad</a></li>
                    <li><a href="#" class="footer__link">Terminos y condiciones</a></li>
                </ul>
            </div>

            <div class="footer__content">
                <h3 class="footer__title">Dirección</h3>
                <ul>
                    <li>Popayán - Colombia</li>
                    <li>Cl. 17 Nte. ##808</li>
                    <li>999 - 888 - 777</li>
                    <li>tastyfood@email.com</li>
                </ul>
            </div>
        </div>

        <p class="footer__copy">&#169; 2025 Todos los derechos reservados</p>
    </footer>
</body>

</html>