<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!--========== BOX ICONS ==========-->
    <link href='https://cdn.jsdelivr.net/npm/boxicons@2.0.5/css/boxicons.min.css' rel='stylesheet'>
    <!--icons styles-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css"
        integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />

    <!--========== CSS ==========-->
    <link rel="stylesheet" href="styles/index.css">
    <link rel="stylesheet" href="styles/reserve/reserve.css">

    <title>Reservacion</title>
</head>

<body>
    <!--========== MAIN ==========-->
    <main>
        <section class="reservacion" id="reservacion">
            <div class="reserve-container"><!--contenedor de las recervas-->
                <div class="reservation">
                    <form class="form-container">
                        <h2>Tu Reservacion</h2>

                        <div class="form-1">
                            <input class="input" type="text" placeholder="Ingresa tu nombre">
                            <input class="input" type="text" placeholder="Ingresa tu email">
                        </div>

                        <div class="form-2">
                            <input class="input" type="date" placeholder="Elegir fecha">
                            <input class="input" type="time" placeholder="Elegir hora">
                        </div>

                        <div class="form-3">
                            <textarea placeholder="Especificaciones" cols="30" rows="7"
                                class="especificaciones"></textarea>
                        </div>

                        <div>
                            <a href="#" class="btn">Reservar ahora</a>
                        </div>
                    </form>

                </div>
            </div>
        </section>
    </main>
</body>

</html>