<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!--========== BOX ICONS ==========-->
    <link href='https://cdn.jsdelivr.net/npm/boxicons@2.0.5/css/boxicons.min.css' rel='stylesheet'>
    <!--========== icons styles ==========-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css"
        integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />

    <!--========== CSS ==========-->
    <link rel="stylesheet" href="styles/index.css">
    <link rel="stylesheet" href="./../../../../public/styles/index.css">
    <link rel="stylesheet" href="styles/platosDestacados/platosDestacados.css">
    <title>Restaurante</title>
</head>

<body>
    <main class="l-main">
        <!--========== elemento de la seccion 3 ==========-->
        <section class="menu section bd-container" id="menu">
            <span class="section-subtitle">Menu</span>
            <h2 class="section-title">Platos más destacados</h2>
            <div class="menu">
                <div class="menu__container bd-grid">

                    <div class="menu__content">
                        <img src="/assets/images/platos/punta-anca.jpg" alt="" class="menu__img">
                        <h3 class="menu__name">Punta de anca - importada</h3>
                        <span class="menu__detail">Corte de carne importada, Certified Angus Beef, acompañado de papas
                            rusticas en salsa de la casa, chimichurri y ensalada fresca.</span>
                        <span class="menu__preci">$22.00</span>
                    </div>

                    <div class="menu__content">
                        <img src="/assets/images/platos/pesca-blanca.jpg" alt="" class="menu__img">
                        <h3 class="menu__name">Barbecue salad</h3>
                        <br>
                        <span class="menu__detail">Plato delicioso</span>
                        <span class="menu__preci">$22.00</span>
                    </div>

                    <div class="menu__content">
                        <img src="/assets/images/platos/lomo-fino.jpg" alt="" class="menu__img">
                        <h3 class="menu__name">Salad with fish</h3>
                        <br>
                        <span class="menu__detail">Plato delicioso</span>
                        <span class="menu__preci">$12.00</span>
                    </div>
                    <a href="../menu/menu.html" class="button">Ver todo el menu <i
                            class="fa-solid fa-arrow-right"></i></a>
                </div>
            </div>

        </section>

    </main>
</body>

</html>